{% extends "base.html.twig" %}

{% block body %}
    <h1>Admin area</h1>

    <p><a href="{{ path('admin_area_logout') }}">Logout</a></p>

    <h2>Members</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tezos address</th>
            <th>Requested access at</th>
            <th>Access was granted</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr class="{% if member.accessWasGranted %}table-success{% else %}table-warning{% endif %}">
                <td>{{ member.memberAddress }}</td>
                <td>{{ member.requestedAccessAt }}</td>
                <td>{% if member.accessWasGranted %}yes{% else %}no {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
