{% extends 'base.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block body %}
  {{ form(loginForm) }}
  <p>
    Forgot password or new member? <a href="{{ path('app_signup') }}">Sign Up</a>
  </p>
{% endblock %}
