<div class="py-4">
    <a href="{{ path('app_homepage') }}" class="flex items-center">
        {% include './svg/noun_homepage_1998096.svg' %}
        <span class="ml-3">Back to Homepage</span>
    </a>
</div>
