{% extends 'base.html.twig' %}

{% block title %}
  Membership
{% endblock %}

{% block body %}
  <div {{ stimulus_controller('wallet') }}>
    <div class="row">
      <div class="col-md-5 offset-md-7 d-flex justify-content-end"
        data-wallet-target="activeAccount">
        <span class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h2>
          Log In
        </h2>
        {{ form(loginForm) }}
      </div>
      <div class="col-md">
        <h2>
          Register or Update Password
        </h2>
        {{ form(signupForm) }}
      </div>
    </div>
  </div>
{% endblock %}
