/**
 * components/global.css
 *
 * Project-wide styles
 *
 */

body {
    background-color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    color: dimgray;
}

footer > div {
    @apply container;
}

footer p {
    @apply text-gray-400 py-4;
}

footer a {
    @apply text-blue-500;
}
