@import 'tailwindcss/components';
@import 'choices.js/public/assets/styles/choices.min.css';

footer nth-child(2) {
    @apply flex p-4;
}

.socializing {
    @apply flex flex-row items-center float-right ml-auto space-x-4;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
}

.dashboard {
    @apply flex flex-col;
}
.dashboard form div {
    @apply flex-grow;
}

.token {
    @apply flex flex-row my-8;
}

.token .name {
    @apply text-xl font-semibold;
}

.token .description {
    @apply italic;
}

.tags span {
    @apply self-center flex-grow p-3 mr-3 bg-gray-50;
}

.tabs a {
    @apply dark:bg-gray-800;
}

.tabs .inactive a {
    @apply text-blue-500 bg-gray-100 border-t border-l border-r rounded-t dark:text-blue-700 dark:bg-gray-800;
}

.chart {
    @apply py-8 bg-gray-50;
}

.chart canvas {
    image-rendering: pixelated;
}

.custom-radio-buttons {
    @apply my-2;
}
.custom-radio-buttons #interval {
    @apply flex flex-row items-stretch content-between;
}
.custom-radio-buttons label {
    @apply dark:bg-gray-800 dark:text-blue-300;
}
.custom-radio-buttons input {
    @apply hidden;
}

.custom-radio-buttons label {
    @apply flex-1 block px-3 py-2 text-gray-700 shadow cursor-pointer bg-gray-50;
}

.custom-radio-buttons input:checked + label,
.custom-radio-buttons label:hover {
    @apply font-bold bg-gray-50 dark:bg-gray-700;
}

#token_form_submit {
    @apply float-right my-2;
}

.spinner {
    @apply flex justify-center align-middle;
}

.spinner svg {
    @apply text-blue-400 fill-current animate-spin;
}

option[selected] {
    background-color: #333;
    color: #fff;
}

.fav-button.active {
    @apply text-yellow-400;
}
