@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-sm;
    }
    a {
        @apply font-bold text-blue-800 underline;
    }
    a:hover {
        @apply text-blue-600;
    }
}

.tags span {
    @apply self-center p-3 mr-3 flex-grow bg-gray-50;
}

/* Sticky footer */
.g-Page {
    @apply flex flex-col h-screen bg-gray-100;
}

.g-MainContent {
    @apply container flex-grow;
}

.g-Header {
    @apply flex flex-row my-8;
}

.g-Header > div {
    @apply flex flex-col justify-center;
}

/* Footer */
footer {
    @apply bg-gray-200;
}

.g-Footer {
    @apply flex p-4;
}
.g-Footer .socializing {
    @apply flex flex-row items-center float-right ml-auto space-x-4;
}

.g-ErrorMessage {
    @apply font-bold text-red-500;
}

h1 {
    @apply flex-grow text-4xl italic font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-700 to-blue-300;
}

h3 {
    @apply font-bold;
}

.btn {
    @apply px-4 py-2 font-bold rounded;
}
.btn-small {
    @apply px-1 py-1 font-bold rounded;
}

.btn-primary {
    @apply py-2 font-semibold text-white bg-blue-500 shadow-md;
}
.btn-primary:hover {
    @apply bg-blue-400;
}
.btn-buy {
    @apply text-white no-underline bg-green-400;
}
.btn-buy:hover {
    @apply text-white bg-green-300;
}
.btn-sell {
    @apply text-white no-underline bg-red-400;
}
.btn-sell:hover {
    @apply text-white bg-red-300;
}

/* Index */
.i-Dashboard {
    @apply flex flex-col my-8;
}
.i-Dashboard form div {
    @apply flex-grow;
}

.i-Token {
    @apply flex flex-row my-8;
}

.token-name {
    @apply text-xl font-semibold;
}

.token-desc {
    @apply italic;
}

.c-Chart {
    @apply py-8 bg-gray-50;
}

/* Nav */
.c-Nav {
    @apply flex;
    @apply border-b;
}

/* Menu */
.c-Menu {
    @apply flex;
    @apply items-end;
}
.c-Menu li {
    @apply mr-1;
}
.c-Menu .is-active {
    @apply z-10 -mb-px bg-gray-50;
}
.c-Menu a {
    @apply inline-block px-4 py-2 font-semibold text-blue-500 no-underline bg-gray-100 cursor-pointer;
}
.c-Menu a:hover {
    @apply text-blue-800;
}
.c-Menu .is-active a {
    @apply text-blue-700 bg-white border-t border-l border-r rounded-t;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
}
