@tailwind base;
@tailwind components;

body {
    @apply font-mono text-sm;
}

/* Sticky footer */
.g-Page {
    @apply flex flex-col h-screen bg-gray-100;
}

.g-MainContent {
    @apply container flex-grow;
}

.g-Header {
    @apply flex flex-row my-8;
}

.g-Header > div {
    @apply flex flex-col justify-center;
}

/* Footer */
footer {
    @apply bg-gray-200;
}

.g-Footer {
    @apply flex p-4;
}
.g-Footer .socializing {
    @apply flex flex-row items-center float-right ml-auto space-x-4;
}

.g-ErrorMessage {
    @apply font-bold text-red-500;
}

h1 {
    @apply flex-grow font-extrabold;
}

h3 {
    @apply font-bold;
}

.btn {
    @apply px-4 py-2 font-bold rounded;
}
.btn-small {
    @apply px-1 py-1 font-bold rounded;
}

.btn-primary {
    @apply text-white bg-gray-400;
}
.btn-primary:hover {
    @apply bg-gray-300;
}
.btn-buy {
    @apply text-white bg-green-400;
}
.btn-buy:hover {
    @apply bg-green-300;
}
.btn-sell {
    @apply text-white bg-red-400;
}
.btn-sell:hover {
    @apply bg-red-300;
}

/* Index */
.i-Banner {
    @apply flex;
}
.i-Banner div {
    @apply self-center p-3 mr-3;
}
.i-Banner div:nth-child(1),
.i-Banner div:nth-child(2) {
    @apply flex-grow bg-gray-50;
}

.i-Dashboard {
    @apply flex flex-col my-8;
}
.i-Dashboard form div {
    @apply flex-grow;
}

.i-Token {
    @apply flex flex-row my-8;
}
.i-Chart {
    @apply my-8;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
}

@tailwind utilities;
