{% extends 'base.html.twig' %}

{% block body %}
  <p class="text-white">
  Hey there, sorry everything has been broken for a while.<br/>
  This site will soon be updated and fulfill its original purpose that was to experiment with PHP and Tezos.<br/>
  Please come back soon, and keep building!
  </p>
{% endblock %}

