{% extends 'base.html.twig' %}

{% block title %}
  Membership
{% endblock %}

{% block body %}
  {{ include('_account.html.twig') }}

  <hr />

  <h2>
    Edit Token
  </h2>

  {{ form(tokenForm) }}
{% endblock %}
