<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}

        {% endblock %}
        <title>
            {{ siteTitle }} -{% block title %}

            {% endblock %}
        </title>
        <script>
            if ( localStorage.theme === 'dark' || (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) ) {
            document.documentElement.classList.add('dark'); } else {
            document.documentElement.classList.remove('dark'); }
        </script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% if app.environment == 'prod' %}
                <script async
                    defer
                    data-domain="pezos-sandbox.duckdns.org"
                    src="https://pezos-stats.duckdns.org/js/plausible.js"></script>
            {% endif %}
        {% endblock %}
    </head>
    <body class="text-sm dark:bg-gray-800 dark:text-gray-50">
        <div class="flex flex-col h-screen">
            <div class="container flex-grow pb-8">
                {% block body %}

                {% endblock %}
            </div>
            <footer class="bg-blue-50 dark:bg-gray-700">
                <div class="container">
                    <div class="flex flex-row py-4">
                        <div>
                            <p>
                                Page auto-refresh every {{ refresh_interval_ms
                                    / 1000 }} seconds
                                <br />
                                Data from <a href="https://api.tzkt.io/">
                                    https://api.tzkt.io/
                                </a>
                            </p>
                        </div>

                        <div class="socializing">
                            <a href="https://twitter.com/BzhDevv">
                                {% include './svg/Twitter_Bird.svg' %}
                            </a>

                            <a href="https://github.com/bzzhh/pezos-sandbox">
                                {% include './svg/Octicons-mark-github.svg' %}
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
